<div class="products-admins">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Продукты</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Продукты
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Категория</th>
                                    <th>Название продукта</th>
                                    <th>Изображение</th>
                                    <th>Краткое описание</th>
                                    <th>Подробное описание</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Активный</th>
                                    <th>Изменить статус</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Категория</th>
                                    <th>Название продукта</th>
                                    <th>Изображение</th>
                                    <th>Краткое описание</th>
                                    <th>Подробное описание</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Активный</th>
                                    <th>Изменить статус</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for product in object_list %}
                                    <tr style=" background-color:  {% if not product.is_active %}#f8d7da {% endif %}">
                                        <td>
                                            <a href="{% url 'admins:admins_categories_update' product.category.id %}"
                                               style="color: dodgerblue">{{ product.category }}</a>
                                        </td>
                                        {#                                        <td>{{ product.category }}</td>#}
                                        <td>
                                            <a href="{% url 'admins:admins_products_update' product.id %}"
                                               style="color: dodgerblue">{{ product.name }}</a>
                                        </td>
                                        <td>{{ product.image }}</td>
                                        <td>{{ product.short_desc }}</td>
                                        <td>{{ product.description }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td class="text-center">
                                            {% if product.is_active %}
                                                <i class="fas fa-check-circle"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>

                                            {% endif %}
                                        </td>
                                        <td>
                                            <form action="{% url 'admins:admins_products_delete' product.id %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <input style="background-color: #1c7430 {% if product.is_active%} red {% endif %}" class="btn btn-danger btn-block" type="submit"
                                                       value="{% if product.is_active %}Удалить{% else %} Восстановить{% endif %}" name="{{ product.id }}">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'admins:admins_products_create' %}">
                            <button class="btn btn-success">Создать продукт</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; GeekShop {% now 'Y' %}</div>
                </div>
            </div>
        </footer>
    </div>
    </div>