<div class="products_list">
    <div class="row">
        {% for product in page_obj %}
            {% if product.is_active %}
                <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                <a href="#">
                    <img class="card-img-top"
                         src="{{ product.image.url }}"
                         alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{ product.name }}</a>
                    </h4>
                    <h5>{{ product.price }} руб.</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
{#                <form action="{% url 'basket:basket' product.id %}" method="post">#}
{#                     {% csrf_token %}#}
{#                    <div class="card-footer text-center">#}
{#                        <button class="btn btn-outline-success " type="button" >#}
{#                                        Отправить в корзину</button>#}
{#                    </div>#}
{#                      </form>#}
                        <div class="card-footer text-center button_add">
                            <a href="{% url 'basket:basket' product.pk %}"
                               class="btn btn-outline-success" name="{{ product.id }}">
{#                                <button type="button" name="{{ product.id }}">Отправить в#}
{#                                корзину</button>#}
                                Отправить в
                                корзину
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
